<!DOCTYPE html>
<html lang="en">
<head>  
    <meta charset="UTF-8">
    <style>
        .h1style {
            background-color: powderblue;
            color:midnightblue;
            text-align: center;
        }
        .radiosection1 {
            background-color: ivory;
        }
    </style>
    <title>The Cup</title>
</head>
<body>
    
<div class="h1style">
    <h1><em>The Cup</em></h1>
</div>
<br>    
{% block content %}

{% endblock %}
</body>
</html>
{% block javascript %}

{% endblock %}
