{% extends "base.html" %}
{% block content %}
    {% if status != "evaluate" and status != "finished" %}
        <meta http-equiv="refresh" content="1">
    {% endif %}
    
    {% set nextaction = destination %}
    <form action="{{ url_for(nextaction) }}" method="GET">
    <p><h2>Round: {{roundnumber}}</h2></p>
    {% if matchmsg != "" %}
        <div>
            <strong>{{matchmsg}}</strong>
        </div>
    {% endif %}
    <p><h3>Time: {{timer}}</h3></p>

    <table>
    <tbody>
    {% for i in teams %}
        {%- if loop.index is even %}{% continue %}{% endif %}
        {% set hometeam = teams[loop.index0] %}
        {% set homescore = scores[loop.index0] %}
        {% set awayteam = teams[loop.index] %}
        {% set awayscore = scores[loop.index] %}
        <tr>
            <td style="width: 120px;">{{hometeam}}</td>
            <td>{{homescore}}</td>
            <td>v</td>
            <td style="width: 40px;">{{awayscore}}</td>
            <td style="width: 120px;">{{awayteam}}</td>
        </tr>
    {% endfor %}
    </tbody>
    </table>

    <br>
    <br>

    {% if status == "evaluate" or status == "finished" %}
        <input type="submit" value="Continue"/>
    {% endif %}
    
    </form>
     
{% endblock %}

